/* Almosafer Main Stylesheet  */


/*   
    .
    .
    .
*/


/* Site colors */

.dark {
    color: #333;
}

.white {
    color: #fff;
}

.move {
    color: #751b53;
}


/* Site settings */


/* this file is for laptop screens */

body {
    min-width: 1024px;
}

.container {
    max-width: 1024px;
    width: 90%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 14px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

.no-margin {
    margin: 0;
}

.al-section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section-title {
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal
}

.section-title-border {
    margin: 30px 0 70px 0;
    width: 140px;
    height: 8px;
    opacity: 0.65;
    background-color: #333333;
}

.relative-parent {
    position: relative;
}


/*  
    .
    .
    .
*/


/* Site Header */

.site-header {
    background-color: #212e3b;
    padding: 20px 0;
    font-size: 14px;
}

.site-header a {
    margin-left: 45px;
    color: #fff !important;
}

.header-section-1 h2 {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
}

.header-section-1 h2 span {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.6;
}

.header-section-1 a img {
    margin-right: 5px;
    transform: translateY(-1px);
}


/*  
    .
    .
    .
*/


/*  Header Background  */

.al-header-bg {
    padding: 0;
    position: relative;
}

.al-header-bg .top-layer {
    padding-top: 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.al-header-bg .top-layer h2.site-title {
    font-size: 38px;
    font-weight: bold;
    max-width: 760px;
}

.al-header-bg .top-layer h3.site-title {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

.al-header-bg .header-btn {
    /* width: 215px; */
    padding: 10px 30px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 2px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #c44aa1, #ae237b);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    text-decoration: none !important;
}

.al-header-bg .arrow-down {
    position: absolute;
    bottom: -30px;
    right: 0;
    z-index: 9;
    width: 60px;
    height: 60px;
}

.al-header-bg .relative-parent {
    height: inherit;
}

.al-header-bg .logo-placement {
    position: absolute;
    bottom: 30px;
    left: 15px;
}


/*  
    .
    .
    .
*/


/* al-destinations */

.al-destinations .nav {
    border-bottom: 1px solid #dddddd;
}

.al-destinations .tab-content {
    padding-top: 50px;
}

.al-destinations .tab-content .tab-pane {
    position: relative;
}

.al-destinations .nav a {
    font-size: 24px;
    color: #751b53 !important;
    padding: 0;
    border: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none !important;
    min-width: 90px;
    margin-right: 30px;
    background: transparent !important;
}

.al-destinations .nav li.active a {
    border: 0;
    border-bottom: 6px solid #751b53;
}

.hotels-slider .swiper-slide-visible {
    width: 27.9% !important;
}

.hotels-slider .swiper-slide {
    width: 20%;
    opacity: 0;
    transform: scale(0.5);
}

.hotels-slider .swiper-slide-visible-1 {
    z-index: 4;
    transform: scale(0.9);
    opacity: 0.9;
}

.hotels-slider .swiper-slide-visible-2 {
    z-index: 5;
    margin-left: -80px;
    transform: scale(1);
    opacity: 1;
}

.hotels-slider .swiper-slide-visible-3 {
    z-index: 3;
    transform: scale(0.8);
    margin-left: -80px;
    opacity: 0.8;
}

.hotels-slider .swiper-slide-visible-4 {
    z-index: 2;
    transform: scale(0.7);
    margin-left: -100px;
    opacity: 0.7;
}

.hotels-slider .swiper-slide-visible-5 {
    z-index: 1;
    transform: scale(0.6);
    margin-left: -140px;
    opacity: 0.6;
}

.hotels-slider .swiper-slide {
    position: relative;
    transition: 0.6s;
}

.hotels-slider .swiper-slide img {
    width: 100%;
    height: auto;
}

.hotels-slider .swiper-slide .top-layer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 0 0px 20px 20px;
}

.hotels-slider .swiper-slide .city {
    font-size: 36px;
    font-weight: bold;
}

.hotels-slider .swiper-slide .country {
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
}

.hotels-slider .swiper-slide .price {
    margin-top: 60px;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
}

.hotels-slider .swiper-slide .price span {
    font-weight: bold;
}

.hotels-slider .swiper-slide a {
    background-color: #d33497;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 35px;
    right: 20px;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 24px;
    line-height: 0;
    width: 40px;
    text-align: center;
}

.swipe-left,
.swipe-right {
    position: absolute;
    top: calc(50% - 25px);
    right: -50px;
    z-index: 99;
    font-size: 50px;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.3s;
}

.swipe-left {
    right: auto;
    left: -50px;
}

.swipe-left:hover,
.swipe-right:hover {
    opacity: 1;
}


/*  
    .
    .
    .
*/


/* al-search */

.al-search .search-form {
    background-image: url(../images/module-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding-top: 40px;
}

.al-search .search-form-body {
    height: 200px;
    border-radius: 5px;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -1px 2px 32px 7px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: -1px 2px 32px 7px rgba(255, 255, 255, 0.15);
    box-shadow: -1px 2px 32px 7px rgba(255, 255, 255, 0.15);
}

.al-search {
    padding: 0;
}

.al-search .section-title-border {
    background-color: #ffffff;
}

.al-search .fun-things {
    position: relative;
}

.al-search .fun-things .no-margin .col-md-4 {
    padding: 0;
}

.al-search .fun-things .section-title {
    margin: 0;
}

.al-search .fun-things .top-layer {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    padding-top: 40px;
    background-image: url(../images/gradient-mask.svg);
    background-repeat: no-repeat;
    background-size: 102% auto;
    background-position-x: center;
}

.al-search .fun-things-separator {
    padding: 20px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #2b77a7, #0076c4);
}

.al-search .fun-thing {
    position: relative;
    color: #fff;
}

.al-search .fun-thing .number {
    opacity: 0.32;
    font-size: 196px;
    line-height: 150px;
    font-weight: 800;
    position: absolute;
    left: 20px;
    margin: 0;
    bottom: 35px;
}

.al-search .fun-thing .meta {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    font-weight: bold;
    position: absolute;
    left: 100px;
    bottom: 20px;
}

.single-step .section-title-border {
    background: #751b53;
    opacity: 1;
    height: 5px;
    width: 100px;
    margin: 10px 0 15px 0;
}

.single-step h3 {
    font-size: 26px;
    font-weight: bold;
}
